.wrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  min-height: 60px;
  z-index: 2;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

/* .menuItem {
} */

.menuLink {
  font-weight: 600;
  text-transform: uppercase;
  padding: 0 10px;
}

.rightMenu {
  display: flex;
  align-items: center;
}

.rightMenuLink {
  font-weight: 600;
  text-transform: uppercase;
  margin-right: 15px;
  line-height: 160%;
}

@media (max-width: 768px) {
  .menu {
    display: none;
  }
}
