.wrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 25px 0;
  min-height: 60px;
  z-index: 2;
}

.headerLogoImg {
  object-fit: contain;
  flex: 1;
  width: 90px;
  margin-right: 100px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.rightMenu {
  display: flex;
  align-items: center;
}

.rightMenuLink {
  font-weight: 600;
  text-transform: uppercase;
  margin-right: 15px;
  line-height: 160%;
}

@media (max-width: 1180px) {
  .menu {
    display: none;
  }
}

@media (max-width: 420px) {
  .headerLogoImg {
    margin-right: 0;
  }

  .rightMenuLink {
    display: none;
  }
}
